:root {
    --orange-color: #E7AB3C;
    --gray-color: #252525;
    --anton: 'Anton', sans-serif;
    --roboto: 'Roboto', sans-serif;
}

button {
    border: none;
    border-radius: 5px;
    font-family: var(--roboto);
    font-weight: bold;
}

input {
    border: none;
    border-radius: 5px;
}


.black-border {
    text-shadow: 3px 0px 5px black,
                -3px 0 5px black,
                0 3px 5px black,
                0 -3px 5px black;
}

.orange-border {
    text-shadow: 1px 0px var(--orange-color),
                -1px 0 var(--orange-color),
                0 1px var(--orange-color),
                0 -1px var(--orange-color);

}

.btn-anim {
    background-color: var(--orange-color);
    color: var(--gray-color);
    border-color: var(--gray-color);
    border-style: solid;
    border-width: 3px;
    transition: all ease-in 0.2s;
}

.btn-anim:hover {
    background-color: var(--gray-color);
    color: var(--orange-color);
    border-color: var(--orange-color);
}

/** HEADER ** */
.header {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.header img {
    height: 40px;
    width: 147px;
}

.header i {
    color: var(--gray-color);
    font-size: 30px;
}

/** SEARCH-BAR **/

.search-bar {
    display: grid;
    grid-template-columns: 1fr 50px;
    margin: 15px auto;
    width: 90%;
}

.search-bar input {
    border-bottom-right-radius: 0;
    border-right-style: none;
    border-style: solid;
    border-top-right-radius: 0;
    border-width: 1px;
    padding: 10px 0 10px 10px;
}

.search-bar button {
    color: #252525;
    background-color: #f2f2f2;
    border-bottom-left-radius: 0;
    border-left-style: none;
    border-style: solid;
    border-top-left-radius: 0;
    border-width: 1px;
    font-size: 30px;
}

/** IMAGES SECTION **/

.imgs-section {
    align-items: center;
    background-image: url("../images/kitchen.jpg");
    display: flex;
    height: 70vh;
    justify-content: space-between;
    padding: 0 20px;
    text-align: center;
}


.inside-img h1 {
    color: var(--orange-color);
    font-family: var(--anton);
    font-size: 35px;
}


.imgs-section i {
    font-size: 30px;
    margin: 0 5px;
}

.btn-shop {
    border-radius: 50px;
    padding: 10px 50px;
}

/** EXPLORE CATEGORIES **/
.explore {
    margin: 75px;
    text-align: center;
}
/** CATEGORIES **/

.categories {
    margin: 0 auto 50px auto;
    text-align: center;
    width: 90%;
}

.card {
    margin-bottom: 50px;
    position: relative;
}

.card img {
    max-width: 100%;
    width: 100%;
}

.btn-card {
    border-radius: 5px;
    left: 50%;
    padding: 15px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

/** Daily Offer **/
.week-deal {
    background-color: var(--orange-color);
    font-family: var(--roboto);
    padding: 30px 0;
    text-align: center;
}

.clock {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    width: 90%;
}

.each-number {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5px;
    text-transform: uppercase;
    width: 70px;
}

.each-number p {
    font-size: 20px;
    margin: 10;
}

.each-number h4 {
    margin: 10px;
}

.btn-deal {
    background-color: var(--gray-color);
    border-color: var(--gray-color);
    border-radius: 50px;
    border-style: solid;
    border-width: 3px;
    color: white;
    padding: 10px 50px;
    transition: all ease-in 0.3s;
}

.btn-deal:hover {
    background-color: white;
    color: var(--gray-color);
    columns: var(--gray-color);
    transform: scale(1.05);
}

/** PROS **/
.lerma-pros {
    margin: 30px auto;
    text-align: left;
    width: 80%;
}

.each-pro {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.pros h1 {
    margin-bottom: 0;
    text-align: center;
}

.pros p {
    text-align: center;
}

.each-pro i {
    color: var(--orange-color);
    font-size: 50px;
    margin-right: 50px;
    text-align: center;
    width: 40%;
}

/** FOOTER **/
.footer {
    background-color: #252525;
    color: white;
    margin: 0 auto;
    padding: 50px 0 30px 0;
}

.info-section img {
    margin: 15px -5px;
}

.lerma-info span {
    font-weight: lighter;
}

.info-section {
    margin: 25px;
    text-transform: capitalize;
}

.info-section h1 {
    font-family: var(--roboto);
    font-size: 25px;
    font-weight: bold;
}

.social-media i {
    font-size: 28px;
    margin: 0 10px;
    transition: all ease-in 0.3s;
}

.link p, i {
    transition: all ease-in 0.2s;
}

.link p:hover,
i:hover {
    cursor: pointer;
    color: var(--orange-color);
}

/** MEDIA QUERYS **/
@media (min-width: 480px) {
    .imgs-section {
        height: 80vh;
    }

    .lerma-pros {
        width: 70%;
    }    

    .pros {
        text-align: left;
        width: 100%;
    }
    
    .categories {
        align-items: center;
        display: grid;
        grid-column-gap: 30px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 600px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .info-section {
        width: 80%;
        margin: 10px auto;
    }
}

@media (min-width: 768px) {
    .clock {
        width: 50%;
    }
}

@media (min-width: 900px) {
    .lerma-pros {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 50px;
        margin: 50px auto;
        width: 90%;
    }
    .pros h1 {
        text-align: left;
    }
    .pros p {
        text-align: left;
    }
    .footer {
        grid-template-columns: repeat(3, 1fr);
    }
    .categories {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .footer {
        display: flex;
        justify-content: space-evenly;
    }
    .info-section {
        margin: 0 50px;
    }
}