legend {
    margin: 30px auto;
}

.login-container {
    border-style: none;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
}

.login-container label {
    font-family: var(--anton);
    font-size: 30px;
    color: var(--gray-color);
}

.user-log-data {
    display: grid;
    grid-row-gap: 20px;
    justify-items: center;
    margin: 15px 0;
    padding: 20px 0;
}

.login-input {
    align-items: center;
    background-color: white;
    border-color: var(--orange-color);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    padding: 10px 20px;
    width: 70%;
}

.login-input input {
    border-style: none;
    font-family: var(--roboto);
    font-weight: bold;
    opacity: 0.5;
    width: 100%;
}

.login-icon {
    opacity: 0.5;
    margin-right: 10px;
}

.btn-login {
    background-color: var(--orange-color);
    border-radius: 50px;
    border-style: none;
    color: var(--gray-color);
    font-family: var(--roboto);
    font-size: 20px;
    margin-bottom: 20px;
    transition: all ease-in 0.3s;
    padding: 10px;
    width: 50%;
}

.btn-login:hover {
    background-color: var(--gray-color);
    color: var(--orange-color);
}

.extra-signin-options {
    align-items: center;
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 5px auto;
}

.sign-in-remember {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 20% 80%;
    font-family: var(--roboto);
}

.sign-in-line {
    background-color: var(--orange-color);
    border-radius: 5px;
    height: 5px;
    margin: auto;
    opacity: 0.5;
    width: 90%;
}

.terms-conditions,
.sign-in-create-acc {
    font-family: var(--roboto);
}

.terms-conditions span,
.sign-in-create-acc span {
    font-weight: bold;
}

.terms-conditions span:hover,
.sign-in-create-acc span:hover {
    cursor: pointer;
}

@media (min-width: 480px) {
    .login-container {
        border-color: var(--orange-color);
        border-style: solid;
        border-color: var(--orange-color);
        width: 500px;
    }  
    legend img {
        width: 150px;
    }
}

@media (min-width: 768px) {
    .user-log-data {
        padding: 10px 0;
    }  
}