.shopping-cart-section {
    font-family: var(--roboto);
    margin: 25px auto;
    text-align: center;
}

.div-total-description {
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-size: 20px;
    font-weight: lighter;
    width: 50%;
    max-width: 205px;
}

.total-section {
    min-width: 335px;
}

.div-total-description h1 {
    font-size: 50px;
    font-weight: bold;
}

.btn-total {
    background-color: var(--orange-color);
    border-radius: 5px;
    font-size: 20px;
    padding: 15px 0;
    transition: all ease-in 0.3s;
    width: 90%;
}

.btn-total:hover {
    filter: opacity(0.75);
}

.sc-icon {
    margin-top: 5px;
}

.sc-icon:hover {
    color: var(--orange-color);
}

.shopping-cart-item {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 0;
    text-align: left;   
}

.shopping-cart-items img {
    margin: auto;
    max-width: 100%;
}

.description-price h1 {
    font-size: 20px;
}

.description-price p {
    font-weight: lighter;
    margin: 0;
}

.description-price p span {
    font-weight: bold;
}

@media (min-width: 480px) {
    .shopping-cart-section {
        width: 80%;
    }
    .shopping-cart-items img {
        max-width: 250px;
    }
}

@media (min-width: 768px) {
    .shopping-cart-section {
        width: 95%;
    }
    .shopping-cart-section {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

@media (min-width: 1024px) {
    .shopping-cart-section {
        width: 85%;
    }
}