.week-deal {
    background-color: var(--orange-color);
    font-family: var(--roboto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 0;
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.week-deal h1, h2 {
    margin: 0;
}

.btn-deal {
    background-color: white;
    border-color: white;
    border-radius: 50px;
    border-style: solid;
    border-width: 3px;
    color: var(--gray-color);
    font-size: 15px;
    padding: 10px 50px;
    transition: all ease-in 0.3s;
}

.btn-deal:hover {
    background-color: var(--gray-color);
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}

