.show-categories {
    width: 80%;
    margin: 50px auto;
    display: grid;
    min-width: 270px;
}


.filter-section {
    color: var(--gray-color);
    font-family: var(--roboto);
}

.filter-section h1 {
    font-family: var(--anton);
    font-size: 25px;
}

.filter-section p {
    transition: all ease-in 0.3s;
}

.filter-section p:hover {
    color: var(--orange-color);
    cursor: pointer;
}

.slider {
    background-color: var(--gray-color);
    border-radius: 5px;
    height: 5px;
    margin: 10px 0;
    padding: 0;
    outline: none;
    width: 100%;
    -webkit-appearance: none;
}

.slider::-webkit-slider-thumb {
    background: var(--orange-color);
    transition: all ease-in 0.25s;    
}

.slider::-webkit-slider-thumb:hover {
    transform: scale(1.1);
}

.slider::-webkit-slider-thumb {
    appearance: none;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
}

.slider::-moz-range-thumb {
    background: var(--orange-color);
    border-style: none;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    transition: all ease-in 0.3s;
    width: 20px;
}

.slider::-moz-range-thumb:hover {
    transform: scale(1.1);
}

.filter-price-slider-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-price-slider-options button {
    background-color: var(--orange-color);
    margin: 10px 0px;
    padding: 10px 30px;
    border-radius: 50px;
}

.filter-price-slider-options button {
    transition: all ease-in 0.3s;
}

.filter-price-slider-options button:hover {
    background-color: var(--gray-color);
    color: var(--orange-color);
}


.sort-buttons {
    display: grid;
    grid-column-gap: 10px;
    font-family: var(--roboto);
    font-weight: bold;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 25px;
    width: 100%;
}

.btn-sort {
    border-radius: 50px;
    border-style: solid;
    border-width: 3px;
    outline: none;
    padding: 10px;
}

.sort-focus {
    background-color: var(--gray-color);
    border-color: var(--orange-color);
    color: var(--orange-color);
}

.sort-no-focus {
    background-color: var(--orange-color);
    border-color: var(--gray-color);
}

.btn-sort:hover {
    filter: brightness(110%);
}

.filter-by-name {
    border-color: var(--gray-color);
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    color: var(--roboto);
    font-family: var(--roboto);
    padding: 10px 10px 10px 10px;
    width: 90%;
}

.results-section h2 {
    color: var(--gray-color);
    font-family: var(--anton);
    font-size: 50px;
    margin: 30px 0 -10px 0;
    text-align: center;
}


@media (min-width: 650px) {
    .show-categories {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 50px;
    }
    .results-section h2 {
        margin: 0 0 -10px 0;
    }
}

@media (min-width: 900px) {
    .show-categories {
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 50px;
    }
}

@media (min-width: 1200px) {
    .show-categories {
        grid-template-columns: 1fr 3fr;
    }
}