.clock {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    width: 30%;
}

.each-number {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: center;
    margin: 0 5px;
    text-transform: uppercase;
    width: 80px;
}

.each-number p {
    font-size: 20px;
    margin: 10px;
}

.each-number h4 {
    margin: 10px;
}