.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    width: 95%;
}

.header-menu {
    font-family: var(--roboto);
    font-size: 17.5px;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.menu p {
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: var(--gray-color);
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    transition: all ease-in 0.3s;
}

.menu p:hover {
    cursor: pointer;
    border-bottom-color: black;
}

.sign-in-section {
    align-items: center;
    display: flex;
}

.division {
    background-color: var(--gray-color);
    border-radius: 5px;
    height: 25px;
    margin: 0 15px;
    width: 3px;
}

.icon {
    font-size: 35px;
    transition: all ease-in 0.3s;
}

.icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

@media (min-width: 900px) {
    .header {
        width: 90%;
    }
}

@media (min-width: 1024px) {
    .header {
        width: 80%;
    }
}