.card {
    margin: 20px 0;
    position: relative;
}

.card img {
    max-width: 100%;
    width: 100%;
}

.btn-card {
    border-radius: 5px;
    font-size: 15px;
    left: 50%;
    padding: 15px 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.btn-card {
    background-color: var(--orange-color);
    border-width: 3px;
    border-color: var(--gray-color);
    border-style: solid;
    font-family: var(--roboto);
    transition: all ease-in 0.3s;
}

.btn-card:hover {
    background-color: var(--gray-color);
    border-color: var(--orange-color);
    color: var(--orange-color);
    cursor: pointer;
}